*{
    margin: 0;
    padding: 0;
}

.grande{ /*Definindo tamanho da div principal e alinhando os filhos no centro*/
    background-color: #191210;
    height: 400px;
    width: 500px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.circulo1{ /*Definindo o circulo amarelo central*/
    background-color: #ECA03D;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    z-index: 1; /*Sobrepondo o circulo central em relação aos outros objetos do body*/
}

.circulo2{ /*Esse circulo foi usado para furar o Circulo1*/
    background-color: #191210;
    height: 140px;
    width: 140px;
    border-radius: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}
.circulo3{ /*Circulo central menor */
    background-color: #84271C;
    height: 70px;
    width: 70px;
    border-radius: 100%;
}

.lado{ /*objetos organizados a esquerda*/
    position: absolute;
    top: 220px;
    left: 120px;
    transform: translate(-50%, -50%);
}

.circuloMeio1{ /*Projetando o tamanho do semi circulo*/
    background-color: #ECA03D;
    height: 130px;
    width: 130px;
    border-radius: 100%;
}
.quadrado{ /*Esse quadrado foi usado para apagar metado do CirculoMeio esquerdo*/
    background-color: #191210;
    width: 100px;
    height: 60px;
}
.circuloMini{ /*Esse mini circulo foi usado para apagar uma parte do CirculoMeio esquerdo*/
    background-color: #191210;
    height: 70px;
    width: 70px;
    border-radius: 0px 0px 100% 100%;
    position: absolute;
    top: 70px;
    left: 61px;
    transform: translate(-50%, -50%);
}


.lado2{ /*Objetos alinhados a direta do circulo principal*/
    position: absolute;
    top: 180px;
    left: 389px;
    transform: translate(-50%, -50%);
}

.lado2 .quadrado{ /*Esse quadrado foi usado para apagar metado do semi circulo direio*/
    background-color: #191210;
    width: 200px;
    height: 60px;
    position: absolute;
    top: 110px;
    left: 50px;
    transform: translate(-50%, -50%);
}
.lado2 .circuloMini{ /*Esse mini circulo foi usado para apagar uma parte do CirculoMeio direito*/
    border-radius:  100% 100% 0px 0px;
    height: 80px;
    width: 80px;
    position: absolute;
    top: 70px;
    left: 66px;
    transform: translate(-50%, -50%);
}

footer{
    display: flex;
    height: 100px;
    width: 500px;
    justify-content: center;
    align-items: center;
}