*{
    margin: 0;
    padding: 0;
}

/* Cor, tamanho e posição*/
.grande{
   background-color: #62374e;
   height: 400px;
   width: 500px; 
   display: grid;
   grid-template-areas: "p1 p2" "p3 p4";
   grid-template-columns: 4fr 2fr;
}
.pequeno{
    background-color: #fdc57b;
    margin: 70px; /* Borda*/
    height: 60px;
    width: 60px;
}

.pequeno1{
    grid-area: p1;
}
.pequeno2{
    grid-area: p2;
}
.pequeno3{
    grid-area: p3;
}
.pequeno4{
    grid-area: p4;
}